.best_in_place {
  padding: .1m;
  cursor: hand;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  &:hover {
    background-color: #CCC;
  }
  form.form_in_place input {
    margin:0;
    padding:0;
    width: 90%;
  }
}

/* Missatges Flotants */

.purr {
  position: fixed;
  width: 324px;
  top: 20px;
  right: 15px;
  padding: 20px;
  background-color: #000000;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}
.purr:hover .close  {
  position: absolute;
  top: 5px;
  right: 3px;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
/*  background: url("/images/close-button.gif") no-repeat;*/
}
