<h2>Categories list</h2>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#outlay" data-toggle="tab">Outlay</a></li>
  <li><a href="#income" data-toggle="tab">Income</a></li>

</ul>

<div class="tab-content">
  <div class="tab-pane active" id="outlay">
    <%= sortable_tree(@categories_outlay, :path => 'categories/sortable/base', :type => :sortable, :title => :name, :new_url => new_category_path(:type => 'outlay') ) %>
  </div>

  <div class="tab-pane" id="income">
    <%= sortable_tree(@categories_income, :path => 'categories/sortable/base', :type => :sortable, :title => :name, :new_url => new_category_path(:type => 'income') ) %>
  </div>
</div>

<%= javascript_tag do %>
  jQuery(function() {
    $("#myTab a[href='"+window.location.hash+"']").tab('show');
    window.location.hash = '#';
  });
<% end %>