<table class="transactions-list table table-striped table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Account</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% if @transactions.empty? %>
    <tr><td colspan="6">
      <i>There is no transaction ...</i>
    </td></tr>
  <% end %>    

  <%= render partial: 'transaction', :collection => @transactions, :locals => { accounts_list: accounts.collect{ |u| [u.id,u.name]} } %>

  </tbody>
</table>