<table id="transactions-list" class="display table table-striped transactions-list">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Account</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  <%= render partial: 'transaction', :collection => @transactions, 
    :locals => { accounts_list: accounts.collect{ |u| [u.id,u.name]}, categories: categories } %>

  </tbody>
</table>