<h3>Balance:</h3>
<table>
	<% accounts.each do |account| %>
		<tr>
		  <td class="key"><%= account.name %>:</td>
		  <td class="value"><%= account.balance %> <%= account.balance.currency.symbol %></td>
		</tr>
	<% end %>
</table>